section {
  display: none;
}

.favike {
  margin: 1em auto 2em;
  text-align: left;
}
.favike span {
  line-height: 40px;
  display: block;
}

/* card */
.card {
  width:300px;
  height:60px;
  font-size: 15px;
  line-height: 60px;
  position:relative;
  background-color:#7f7fff;
  margin: 5px auto;
}
.card-title {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width:195px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin-left: 40px;
}
.card-title:hover {
opacity:60%;
  transition:0.5s;
}
.drag {
  cursor: move;
}
.drag i {
  padding-left:15px;
  padding-right:10px;
  color: #fff;
}
.card-btn {
  position: absolute;
  right: 10px;
  top: 6px;
  border-radius: 50%;
  border: 4px solid;
  width: 40px;
   height: 40px;
   color: #fff;
   cursor: pointer;
   z-index: 2;
}
.card-btn:hover {
  opacity:60%;
  transition:0.5s;
}
.card-btn i {
  font-size:25px;
  position: absolute;
  right: 9px;
  top: 7px;
}

/* button */
:root {
  --color: #668ad8;
}
button {
  width:300px;
  height: 75px;
  margin:5px;
  font-size: 20px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px var(--color);
  border-right: solid 4px var(--color);
  color: var(--color);
  background: #FFF;
  transition: .4s;
}

button:hover {
  background: var(--color);
  color: #FFF;
}
