:root {
  --color: #668ad8;
}
button {
  width:300px;
  height: 75px;
  margin:5px;
  font-size: 20px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px var(--color);
  border-right: solid 4px var(--color);
  color: var(--color);
  background: #FFF;
  transition: .4s;
}

button:hover {
  background: var(--color);
  color: #FFF;
}
