.card {
  width:300px;
  height:60px;
  font-size: 15px;
  line-height: 60px;
  position:relative;
  background-color:#7f7fff;
  margin: 5px auto;
}
.card-title {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width:240px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.card-title:hover {
opacity:60%;
  transition:0.5s;
}
.card-title i {
  padding-left:15px;
  padding-right:10px;
}
.card-btn {
  position: absolute;
  right: 10px;
  top: 6px;
  border-radius: 50%;
  border: 4px solid;
  width: 40px;
   height: 40px;
   color: #fff;
   cursor: pointer;
   z-index: 2;
}
.card-btn:hover {
  opacity:60%;
  transition:0.5s;
}
.card-btn i {
  font-size:25px;
  position: absolute;
  right: 8px;
  top: 7px;
}
